.dropdown-toggle, .dropdown-item {
    text-decoration: none;
    cursor: pointer;
}

#login{
    display: flex;
}

#login input{
    margin: 0 0.5rem;
}

img {
    max-height: 50px;
    border: 2px solid white;
    display: inline;
}